<html>

<head>
    <!-- <meta charset=“UTF-8”> -->
    <title>ChatBox</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<link rel="stylesheet" href="{{ url_for('static', filename='chatbox_style.css') }}">

<body>

    <div class="chatNameHeaderGrid" id="chatBoxTitle">
        <h1>ChatBox</h1>
        <h2>Web Messagging App</h2>
    </div>

    <div id="welcomeChat">
        <div id="welcomeChatinfo">Say hello to other users in general chat:</div>
        <h3>
            <a id="welcomeChatLink" href="http://77.255.181.134:13297/chat/WelcomeInChatBox">WelcomeInChatBox</a>
        </h3>
    </div>

    <br>

    <div id="customChatContainer">
        <div id="customChatInfo">If you want to join other chats or create a new one</div>
        <div class="nameInputGrid">
            <input id="login" placeholder="Your Name">
            <i class="tooltip" id="loginNameInfo">&#9432;
                <span class="tooltipText">Username restrictions:
                    - at least 1 character long
                    - at most 20 characters long
                    - can contain Latin characters (lowercase / uppercase) and numbers
                    - can contain underscores (_) and dashes (-)
                    - cannot contain spaces
                    - cannot contain any other special characters
                </span>
            </i>
        </div>

        <div class="chatInputGrid">
            <input id="findChat" placeholder="Chat Name" value="{{ requestedChatName }}">
            <i class="tooltip" id="chatNameInfo">&#9432;
                <span class="tooltipText">Chat name restrictions:
                    - at least 1 character long
                    - at most 20 characters long
                    - can contain Latin characters (lowercase / uppercase) and numbers
                    - can contain underscores (_) and dashes (-)
                    - cannot contain spaces
                    - cannot contain any other special characters
                </span>
            </i>
        </div>
    </div>

    <button class="connectGrid" id="connectButton">Connect</button>

    <script src="{{ url_for('static', filename='main_script.js') }}"></script>

</body>

</html>