<html>

<head>
    <meta charset=“UTF-8”>
    <title>ChatBox</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<link rel="stylesheet" href="{{ url_for('static', filename='chatbox_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='chatbox_home_style.css') }}">

<body>

    <div class="chatNameHeaderGrid" id="chatBoxTitle">
        <h1>ChatBox</h1>
        <h2>Web Messagging App</h2>
    </div>

    <div class="homeSection" id="welcomeChatContainer">
        <h2>Say hello to other users in general chat:</h2>

        <a id="welcomeChatLink" href="http://localhost:5000/chat/WelcomeInChatBox">
            <button>WelcomeInChatBox</button>
        </a>

    </div>

    <hr>

    <div class="homeSection" id="customChatContainer">
        <h2>Join other chats or create a new one:</h2>

        <div>
            <input id="login" placeholder="Your Name">
            <i class="tooltip" id="loginNameInfo">&#9432;
                <span class="tooltipText">Username restrictions:
                    - at least 1 character long
                    - at most 20 characters long
                    - can contain Latin characters (lowercase / uppercase) and numbers
                    - can contain underscores (_) and dashes (-)
                    - cannot contain spaces
                    - cannot contain any other special characters
                </span>
            </i>
        </div>

        <div>
            <input id="findChat" placeholder="Chat Name" value="{{ requestedChatName }}">
            <i class="tooltip" id="chatNameInfo">&#9432;
                <span class="tooltipText">Chat name restrictions:
                    - at least 1 character long
                    - at most 20 characters long
                    - can contain Latin characters (lowercase / uppercase) and numbers
                    - can contain underscores (_) and dashes (-)
                    - cannot contain spaces
                    - cannot contain any other special characters
                </span>
            </i>
        </div>
        <button id="connectButton">Connect</button>
    </div>

    <hr>

    <div class="homeSection" id="recentChatsContainer">
        <h2> Jump to your previously visited chats by clicking on the below tiles:</h2>
        <div id="recentChatsList"></div>
    </div>


    <script src="{{ url_for('static', filename='constants.js') }}"></script>
    <script src="{{ url_for('static', filename='home_script.js') }}"></script>
    <script src="{{ url_for('static', filename='common_functions.js') }}"></script>

</body>

</html>