<html>

<head>
    <meta charset=“UTF-8”>
    <title>ChatBox</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<link rel="stylesheet" href="{{ url_for('static', filename='chatbox_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='chatbox_chat_style.css') }}">
<audio id="audioSheep" src="{{ url_for('static', filename='sheep-122256.mp3') }}"></audio>

<body>
    <div class="gridContainer">

        <div class="nameInputGrid">
            <input id="login" placeholder="Your Name">
            <i class="tooltip" id="loginNameInfo">&#9432;
                <span class="tooltipText">Username restrictions:
                    - at least 1 character long
                    - at most 20 characters long
                    - can contain Latin characters (lowercase / uppercase) and numbers
                    - can contain underscores (_) and dashes (-)
                    - cannot contain spaces
                    - cannot contain any other special characters
                </span>
            </i>
        </div>

        <div class="chatInputGrid">
            <input id="findChat" placeholder="Chat Name" value="{{ requestedChatName }}">
            <i class="tooltip" id="chatNameInfo">&#9432;
                <span class="tooltipText">Chat name restrictions:
                    - at least 1 character long
                    - at most 20 characters long
                    - can contain Latin characters (lowercase / uppercase) and numbers
                    - can contain underscores (_) and dashes (-)
                    - cannot contain spaces
                    - cannot contain any other special characters
                </span>
            </i>
        </div>

        <button class="connectGrid" id="connectButton">Connect</button>

        <div class="recentlyUsedChatsGrid">
            <h3>Recent Chats</h3>
            <div id="recentlyUsedChats"></div>
        </div>


        <div class="chatNameHeaderGrid">
            <h1 id="chatNameHeader"> {{ requestedChatName }} </h1>
            <i class="fa fa-clone" id="clipboard"></i>
        </div>

        <div id="receivedMessages" class="messagesGrid"></div>

        <textarea id="newMessage" class="sendGrid" placeholder="Type your message" autofocus></textarea>
        <button id="sendMessageButton" class="sendButtonGrid">Send</button>

        <div class="chatUsers">
            <h3>Active Users:</h3>
            <div id="activeUsers" class="userList">
            </div>
        </div>
    </div>

    <!-- <script src="lc_emoji_picker.min.js" type="text/javascript"></script> -->
    <script src="{{ url_for('static', filename='config.js') }}"></script>
    <script src="{{ url_for('static', filename='constants.js') }}"></script>
    <script src="{{ url_for('static', filename='main_script.js') }}"></script>
    <script src="{{ url_for('static', filename='common_functions.js') }}"></script>

</body>

</html>