.availableChat {
    cursor: pointer;
    margin-bottom: 0.5%;
    width: 100%;
}

.chatInputGrid {
    grid-area: chat-input-area;
    margin-left: var(--chatbox-page-margin-left);
    width: 80%;
}

.chatNameHeaderGrid {
    background-color: var(--chatbox-color-dark);
    color: var(--chatbox-color-mid-2);
    grid-area: header-area;
    margin: 0%;
    padding-bottom: 2%;
    padding-top: 2%;
    width: 100%;
}

.chatUser {
    background-color: var(--chatbox-color-dark);
    border: var(--chatbox-border-box);
    border-radius: var(--chatbox-border-radius);
    color: var(--chatbox-color-text-button);
    font-size: small;
    height: 20px;
    margin-bottom: 0.5%;
    width: 100%;
}

.chatUsers {
    grid-area: user-list-area;
    margin-right: var(--chatbox-page-margin-right);
}

/* to be removed when connection part is removed from index.html */
.connectGrid {
    grid-area: connect-area;
    cursor: pointer;
    margin-left: var(--chatbox-page-margin-left);
    width: 80%;
}

.divAuthor {
    float: left;
    text-align: left;
}

.divTimestamp {
    color: var(--chatbox-color-text-message);
    text-align: right;
}

.gridContainer {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-areas:
        "header-area        header-area        header-area      "
        "header-area        header-area        header-area      "
        ".................  .................  ................."
        "name-input-area    messages-area      user-list-area   "
        "chat-input-area    messages-area      user-list-area   "
        "connect-area       messages-area      user-list-area   "
        ".................  messages-area      user-list-area   "
        "recent-chats-area  messages-area      user-list-area   "
        "recent-chats-area  messages-area      user-list-area   "
        ".................  messages-area      ................."
        ".................  messages-area      ................."
        ".................  messages-area      ................."
        ".................  messages-area      ................."
        ".................  messages-area      ................."
        ".................  messages-area      ................."
        ".................  messages-area      ................."
        ".................  messages-area      ................."
        ".................  messages-area      ................."
        ".................  messages-area      ................."
        ".................  messages-area      ................."
        ".................  send-area          ................"
        ".................  send-area          ................."
        ".................  send-area          ................."
        ".................  send-button-area   ................."
        ".................  .................  .................";
    text-align: center;
}

.incorrectInput {
    background-color: rgba(255, 0, 0, 0.525);
    border: 3px solid red;
}

.message {
    background-color: var(--chatbox-color-light);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: var(--chatbox-border-radius);
    box-shadow: 4px 4px 4px gray;
    clear: both;
    font-size: small;
    margin: 1.5%;
    padding: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
    width: 40%;
    word-wrap: break-word;
}

.messagesGrid {
    background-color: var(--chatbox-color-mid-1);
    border: var(--chatbox-border-box);
    border-radius: var(--chatbox-border-radius);
    grid-area: messages-area;
    height: 500px;
    margin: auto;
    overflow: auto;
    resize: none;
    width: 90%;
}

.messageHeader {
    border-bottom: 1px solid var(--chatbox-color-text-message);
    font-size: small;
    margin-bottom: 10px;
}

.messageUnread {
    background-color: var(--chatbox-color-mid-2);
}

/* to be removed when connection part is removed from index.html */
.nameInputGrid {
    grid-area: name-input-area;
    margin-left: var(--chatbox-page-margin-left);
    width: 80%;
}

.recentlyUsedChatsGrid {
    grid-area: recent-chats-area;
    margin-left: var(--chatbox-page-margin-left);
    width: 80%;
}

.sendButtonGrid {
    cursor: pointer;
    grid-area: send-button-area;
    margin: auto;
    width: 90%;
}

.sendGrid {
    background-color: var(--chatbox-color-mid-1);
    border: var(--chatbox-border-box);
    border-radius: var(--chatbox-border-radius);
    grid-area: send-area;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    width: 90%;
}

#chatNameHeader {
    display: inline;
}

#clipboard {
    cursor: pointer;
    margin-left: 1%;
    vertical-align: auto;
}

#findChat,
#login {
    margin-top: 1%;
    width: 90%;
}