/* .homeGridContainer {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-areas:
        "header-area        header-area        header-area      "
        ".................  .................  ................."
        "general-chat-area  general-chat-area  general-chat-area"
        "custom-chat-area.  custom-chat-area.  custom-chat-area."
        "connect-area.....  connect-area.....  connect-area....."
        ".................  .................  .................";
} */

.customChatContainer {
    margin: auto;
}

.welcomeChatContainer {
    padding: 2%;
}

#connectButton {
    cursor: pointer;
    margin-top: 1%;
    width: 20%;
}