:root {
    /*
    #9
    --chatbox-color-light: white;
    --chatbox-color-mid-1: #C6E377;
    --chatbox-color-dark: #729D39;
    --chatbox-color-text:
    #10
    --chatbox-color-light: #FBFAD3;
    --chatbox-color-mid-1: #C6E377;
    --chatbox-color-dark: #36622B;
    --chatbox-color-text:
    #11
    --chatbox-color-light: #FCECDD;
    --chatbox-color-mid-1: #FFC288;
    --chatbox-color-dark: #FF6701;
    --chatbox-color-text:
    #12
    --chatbox-color-light: #EAE7B1;
    --chatbox-color-mid-1: #A6BB8D;
    --chatbox-color-dark: #3C6255;
    --chatbox-color-text:
    #13
    --chatbox-color-light: #FEFFDE;
    --chatbox-color-mid-1: #DDFFBC;
    --chatbox-color-dark: #91C788;
    --chatbox-color-text: black;    
    #14
    --chatbox-color-light: #FEFFDE;
    --chatbox-color-mid-1: #DDFFBC;
    --chatbox-color-dark: #52734D;
    --chatbox-color-text: #FEFFDE;
    #15
    --chatbox-color-light: #CBE4DE;
    --chatbox-color-mid-1: #0E8388;
    --chatbox-color-dark: #2E4F4F;
    --chatbox-color-text: #CBE4DE;
    #16
    --chatbox-color-light: #f8e4ca;
    --chatbox-color-mid-1: #ffce7a;
    --chatbox-color-dark: #fd8b28;
    --chatbox-color-text: black;
    #17
    --chatbox-color-light: white;
    --chatbox-color-mid-1: rgb(239, 236, 236);
    --chatbox-color-mid-2: rgb(239, 236, 236);
    --chatbox-color-dark: rgba(142, 139, 135, 0.422);
    --chatbox-color-text: black;
    #18
    --chatbox-color-light: #F4F4F2;
    --chatbox-color-mid-1: #E8E8E8;
    --chatbox-color-mid-2: #E8E8E8;
    --chatbox-color-dark: #BBBFCA;
    --chatbox-color-text: black;
    #19
    --chatbox-color-light: rgb(249, 240, 228);
    --chatbox-color-mid-1: rgba(250, 213, 164, 0.372);
    --chatbox-color-mid-2: rgba(250, 213, 164, 0.372);
    --chatbox-color-dark: rgba(250, 213, 164, 0.534);
    --chatbox-color-text: black;
    #20
    --chatbox-color-light: #FFFFFF;
    --chatbox-color-mid-1: #F9F6F7;
    --chatbox-color-mid-2: #FFE8D6;
    --chatbox-color-dark: #FF971D;
    --chatbox-color-text: black;
    #21
    --chatbox-color-light: #FFFDF6;
    --chatbox-color-mid-1: #FAF6E9;
    --chatbox-color-mid-2: #FAF6E9;
    --chatbox-color-dark: #ECE8D9;
    --chatbox-color-text: black;
    #22
    --chatbox-color-light: #F9F9F9;
    --chatbox-color-mid-1: #DED5C4;
    --chatbox-color-mid-2: #DED5C4;
    --chatbox-color-dark: #beb8ac;
    --chatbox-color-text: black;
    #23
    --chatbox-color-light: #F7EDDB;
    --chatbox-color-mid-1: #DAE2B6;
    --chatbox-color-mid-2: #DAE2B6;
    --chatbox-color-dark: #CCD6A6;
    --chatbox-color-text: black;
    #24
    --chatbox-color-light: #F9F2D7;
    --chatbox-color-mid-1: #F2DEA8;
    --chatbox-color-mid-2: #F2DEA8;
    --chatbox-color-dark: #d3c692;
    --chatbox-color-text: black;
    #25
    --chatbox-color-light: #F0E5D3;
    --chatbox-color-mid-1: #F0E5CA;
    --chatbox-color-mid-2: #F0E5CA;
    --chatbox-color-dark: #DFD5A5;
    --chatbox-color-text: black;
    #26
    --chatbox-color-light: #ebf4aa;
    --chatbox-color-mid-1: #D9E76C;
    --chatbox-color-mid-2: #D9E76C;
    --chatbox-color-dark: #b5c732;
    --chatbox-color-text-button: black;
    --chatbox-color-text-message: #353831;
    #27
    --chatbox-color-light: #ebf4aa;
    --chatbox-color-mid-1: #D9E76C;
    --chatbox-color-mid-2: #D9E76C;
    --chatbox-color-dark: #38423B;
    --chatbox-color-text-button: #ebf4aa;
    --chatbox-color-text-message: #38423B;
    #28
    --chatbox-color-light: #f2eab0;
    --chatbox-color-mid-1: #E5D352;
    --chatbox-color-mid-2: #E5D352;
    --chatbox-color-dark: #5e5a37;
    --chatbox-color-text-button: #f2eab0;
    --chatbox-color-text-message: #5e5a37;
    #29
    --chatbox-color-light: #F5F3BB;
    --chatbox-color-mid-1: #F5F3BB;
    --chatbox-color-mid-2: #F08A4B;
    --chatbox-color-dark: #3D3B3C;
    --chatbox-color-text-button: #F5F3BB;
    --chatbox-color-text-message: black;
    #30
    --chatbox-color-light: #F5F3BB;
    --chatbox-color-mid-1: #f3bf72;
    --chatbox-color-mid-2: #f3bf72;
    --chatbox-color-dark: #60594D;
    --chatbox-color-text-button: #F5F3BB;
    --chatbox-color-text-message: black;
    #31
    --chatbox-color-light: #F5F3BB;
    --chatbox-color-mid-1: #f0c14b;
    --chatbox-color-mid-2: #f0c14b;
    --chatbox-color-dark: #7b7846;
    --chatbox-color-text-button: black;
    --chatbox-color-text-message: black;
    #32
    --chatbox-color-light: #F5F3BB;
    --chatbox-color-mid-1: #f3a44f;
    --chatbox-color-mid-2: #f3a44f;
    --chatbox-color-dark: rgb(154, 94, 29);
    --chatbox-color-text-button: black;
    --chatbox-color-text-message: black;
    */
}

body {
    background-color: var(--chatbox-color-mid-2);
}

button {
    background-color: var(--chatbox-color-dark);
    color: var(--chatbox-color-text-button);
    border: 1px solid black;
    border-radius: 2px;
    height: 25px;
}

input {
    border: 1px solid black;
    background-color: var(--chatbox-color-light);
    border-radius: 2px;
    resize: none;
    width: 100%;
    height: 25px;
    margin-bottom: 1%;
}

.gridContainer {
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    grid-template-areas:
        ".................  .................  ................."
        ".................  header-area        ................."
        ".................  header-area        ................."
        "name-input-area    messages-area      user-list-area   "
        "chat-input-area    messages-area      user-list-area   "
        "connect-area       messages-area      user-list-area   "
        ".................  messages-area      user-list-area   "
        "recent-chats-area  messages-area      user-list-area   "
        "recent-chats-area  messages-area      user-list-area   "
        ".................  messages-area      ................."
        ".................  messages-area      ................."
        ".................  messages-area      ................."
        ".................  messages-area      ................."
        ".................  messages-area      ................."
        ".................  messages-area      ................."
        ".................  messages-area      ................."
        ".................  messages-area      ................."
        ".................  messages-area      ................."
        ".................  messages-area      ................."
        ".................  messages-area      ................."
        ".................  messages-area      ................."
        ".................  messages-area      ................."
        ".................  messages-area      ................."
        ".................  send-area          ................"
        ".................  send-area          ................."
        ".................  send-area          ................."
        ".................  send-button-area   ................."
        ".................  .................  .................";
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.chatUsers {
    grid-area: user-list-area;
}

.chatNameHeaderGrid {
    grid-area: header-area;
    margin-top: 1%;
    margin-bottom: 3%;
}

.nameInputGrid {
    grid-area: name-input-area;
}

.chatInputGrid {
    grid-area: chat-input-area;
}

.connectGrid {
    grid-area: connect-area;
    width: 100%;
    margin-bottom: 23;
    cursor: pointer;
}

.messagesGrid {
    grid-area: messages-area;
    width: 90%;
    height: 500px;
    /* width: 800px; */
    /* height: 500px; */
    /* height: 80vh; */
    margin: auto;
    border: 1px solid black;
    background-color: var(--chatbox-color-light);
    border-radius: 2px;
    resize: none;
    overflow: auto;
}

.recentlyUsedChatsGrid {
    grid-area: recent-chats-area;
}

.sendGrid {
    grid-area: send-area;
    background-color: var(--chatbox-color-light);
    width: 90%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5%;
    margin-bottom: 0.2%;
    border: 1px solid black;
    border-radius: 2px;
    resize: none;
}

.sendButtonGrid {
    grid-area: send-button-area;
    width: 90%;
    margin: auto;
    cursor: pointer;
}

.availableChat {
    /* background-color: rgba(87, 87, 87, 0.445); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    /* border-radius: 2px; */
    cursor: pointer;
    margin-bottom: 1%;
    width: 100%;
}

.chatUser {
    background-color: var(--chatbox-color-dark);
    color: var(--chatbox-color-text-button);
    border: 1px solid black;
    border-radius: 2px;
    margin-bottom: 1%;
    /* display: block; */
    width: 100%;
    height: 25px;
}

.message {
    margin: 1.5%;
    width: 40%;
    padding: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: var(--chatbox-color-mid-1);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    clear: both;
    font-size: large;
    word-wrap: break-word;
    box-shadow: 4px 4px 4px gray;
}

.messageUnread {
    background-color: chartreuse;
}

.messageHeader {
    font-size: small;
    /* border-bottom: 2px solid rgb(220, 220, 220); */
    border-bottom: 1px solid var(--chatbox-color-text-message);
    /* border-bottom: 2px solid var(--chatbox-color-dark); */
    margin-bottom: 10px;
}

.divAuthor {
    float: left;
    text-align: left;
}

.divTimestamp {
    text-align: right;
    /* color: DimGray; */
    color: var(--chatbox-color-text-message);
}

#chatNameHeader {
    display: inline;
}

#clipboard {
    margin-left: 1%;
    vertical-align: auto;
    cursor: pointer;
}